/bottom.jpg
/Chip.png
/CSS practice 1.html
/Home with after element.html
/Home with internal css.html
/icon.html
/icon.png
/Image.html
/images1.jpg
/Indicator.png
/pic.png
/Shining with internal css.html
/Shop now with internal css.html
/suit.jpg
/Task 3.html
/Task 4.html
/Task 5.html
/Task2.html
/Test.html
/Try-pactice.html
/up.svg
/wave.svg